@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Body {
    display: flex;
    background-color: #ffffff;
    color: #c5c5c5;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.firstRow {
    display: flex;
    max-width: 1200px;
}

.titleSection {
    height: 450px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.titleSection h2 {
    font-size: 102px;
    padding: 50px 40px 30px 0px;
    max-width: 12ch;
    line-height: .8;
    color: #242429;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.titleSection p {
    line-height: 0.8;
    max-width: 80%;
    font-size: 18px;
}

.EST {
    color: #242429;
    font-weight: 1000;
    padding-top: 30px;
    font-family: monospace;
}

.titleVideo {
    display: flex;
    justify-content: right;
    width: 40%;
    height: 450px;
}

.titleVideo video {
    height: 450px;
    width: 400px;
    object-fit: cover;
}

/* Second Row */
.secondRow {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 600px;
}

.secLeft {
    width: 800px;
    display: flex;
}

.secLeft video {
    width: 800px;
    object-fit: cover;
}

.secRight {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.secTop {
    display: flex;
    flex-direction: column;
    height: 45%;
    background-color: #a58964;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white;
}

.revIcon {
    height: 40px;
    width: 40px;
    outline: auto;
    border-radius: 50%;
    margin: 20px;
}

.secTopRev {
    text-align: center;
    font-size: 24px;
}

.secDown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 55%;
    gap: 18px;
}

.secDown h2 {
    text-align: center;
    color: #242429;
    max-width: 12ch;
    line-height: .8;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.secDown p {
    text-align: center;
    max-width: 24ch;
    line-height: .8;
    font-family: "Kanit", sans-serif;
}

.secDown button {
    width: 200px;
    height: 50px;
    background-color: #a58964;
    color: white;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    cursor: pointer;
}

.razorImg {
    display: flex;
    background-image: url("../../assets/Razor.svg");
    z-index: 1;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.thirdRow {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
}

.thridTitle {
    font-size: 40px;
    padding: 50px 40px 30px 0px;
    line-height: .8;
    color: #242429;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.topLocation section {
    display: flex;
    height: 75px;
}

.busName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-family: "Kanit", sans-serif;
    background-color: #f3ebe0;
    color: #242429;
    font-size: 25px;
    line-height: 1;
}

.cityName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 28px;
    line-height: 1;
    font-family: "Kanit", sans-serif;
    background-color: #242429;
    color: white;
}

.imageElGrullo {
    display: flex;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.ElGrullo {
    width: 100%;
    height: 550px;
    color: #242429;
    font-family: "Kanit", sans-serif;
    padding: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .05);
}

.ElGrullo h3 {
    margin-bottom: 25px;
    font-size: 18px;
}

.serceList,
.contactList {
    list-style: none;
    font-size: 16px;
}

.contactTitle {
    margin-top: 50px;
}

.ElGrullo Button {
    width: 200px;
    height: 50px;
    background-color: #a58964;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    font-size: 16px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .05);
}

.fourthRow {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    background-color: #242429;
}

.teamMembers {
    display: flex;
    width: 1200px;
    /* background-color: #353536; */
}

.rowFourTitle {
    font-size: 40px;
    padding: 50px 40px 30px 0px;
    line-height: .8;
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}