@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Body {
    display: flex;
    background-color: #ffffff;
    color: #c5c5c5;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.firstRow {
    display: flex;
    max-width: 1200px;
}

.titleSection {
    min-height: 450px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.titleSection h2 {
    font-size: 102px;
    padding: 50px 40px 30px 0px;
    max-width: 12ch;
    line-height: .8;
    color: #242429;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.titleSection p {
    line-height: 0.8;
    max-width: 80%;
    font-size: 18px;
}

.EST {
    color: #242429;
    font-weight: 1000;
    padding-top: 30px;
    font-family: monospace;
}

.titleVideo {
    display: flex;
    justify-content: right;
    max-width: 40%;
    min-height: 450px;
}

.titleVideo video {
    display: flex;
    justify-content: right;
    height: 450px;
    width: 400px;
    object-fit: cover;
}

/* Second Row */
.secondRow {
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
}

.secLeft {
    display: flex;
    max-width: 800px;
}

.secLeft video {
    max-width: 100%;
    object-fit: cover;
    min-height: 600px;
}

.secRight {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.secTop {
    display: flex;
    flex-direction: column;
    min-height: 45%;
    background-color: #a58964;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(247, 242, 242);
}

.revIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 20px;
}

.secTopRev {
    text-align: center;
    font-size: 24px;
}

.secDown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 55%;
    gap: 18px;
}

.secDown h2 {
    text-align: center;
    color: #242429;
    max-width: 14ch;
    line-height: .8;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.secDown p {
    text-align: center;
    max-width: 24ch;
    line-height: .8;
    font-family: "Kanit", sans-serif;
}

.secDown button {
    width: 200px;
    height: 50px;
    background-color: #a58964;
    color: white;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.razorImg {
    display: flex;
    background-image: url("../../assets/Razor.svg");
    z-index: 1;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.thirdRow {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
}

.thridTitle {
    font-size: 40px;
    padding: 50px 40px 30px 0px;
    line-height: .8;
    color: #242429;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.topLocation section {
    display: flex;
    height: 75px;
}

.busName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-family: "Kanit", sans-serif;
    background-color: #f3ebe0;
    color: #242429;
    font-size: 25px;
    line-height: 1;
}

.cityName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 28px;
    line-height: 1;
    font-family: "Kanit", sans-serif;
    background-color: #242429;
    color: white;
}

.imageElGrullo {
    display: flex;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.ElGrullo {
    width: 100%;
    height: 550px;
    color: #242429;
    font-family: "Kanit", sans-serif;
    padding: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .05);
}

.ElGrullo h3 {
    margin-bottom: 25px;
    font-size: 18px;
}

.contactList li {
    display: flex;
    gap: 5px
}

.serceList,
.contactList {
    list-style: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.serceList li {
    display: flex;
    gap: 5px;
}

.contactTitle {
    margin-top: 50px;
}

.ElGrullo Button {
    width: 200px;
    height: 50px;
    background-color: #a58964;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    font-size: 16px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .05);
    font-weight: 600;
    font-size: 18px;
}

.fourthRow {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: #242429;
}

.teamMembers {
    display: flex;
    width: 1200px;
    flex-direction: column;
    /* background-color: #353536; */
}

.rowFourTitle {
    font-size: 40px;
    padding: 50px 40px 30px 0px;
    line-height: .8;
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.team {
    list-style: none;
    margin-top: 25px;
}

.team li {
    width: 250px;
}

.portraitContainer {
    height: 250px;
    width: 250px;
    background-color: #c5c5c5;
}

.portVaz {
    display: flex;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.portName,
.portCity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    font-size: 16px;
    background-color: #ffffff;
    color: #242429;
    text-align: center;
    margin-top: -5px;
    line-height: 1;
    font-family: "Kanit", sans-serif;
}

.portCity {
    background-color: #f3ebe0;
}

.portCity h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImgCity {
    object-fit: cover;
    height: 40px;
    width: 15px;
}

.phone,
.email,
.location,
.scissors,
.beard,
.eyebrow,
.mask {
    display: flex;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.phone {
    background-image: url("../../assets/Phone.svg");
}

.email {
    background-image: url("../../assets/Email.svg");
}

.location {
    background-image: url("../../assets/Location.svg");
}

.scissors {
    background-image: url("../../assets/scissors.png");
}

.beard {
    background-image: url("../../assets/beard.png");
}

.eyebrow {
    background-image: url("../../assets/eyebrow.png");
}

.mask {
    background-image: url("../../assets/facial-mask.png");
}

.footer {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
    background-color: #242429;
}

.footerLinks {
    display: flex;
    width: 1200px;

}

.foterColumns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    line-height: 1;
    font-family: "Kanit", sans-serif;
    flex-wrap: wrap;

}

.foterColumns h2 {
    margin-bottom: 20px;
}

.foterColumns ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.foterColumns li {
    font-size: 18px;
    cursor: pointer;
}

.foterColumns li a {
    color: #c5c5c5;
    text-decoration: none;
}

.foterColumns ul li:hover,
.foterColumns ul li a:hover {
    color: #a18a61;
}


.foterColumns ul li {
    transition: color 0.1s ease;
}

.buttonHover:hover {
    background-color: #867251;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
}

.buttonHover {
    transition: all 0.3s ease;
}

@media screen and (max-width: 1279px) {

    .firstRow,
    .secondRow,
    .thirdRow,
    .teamMembers,
    .footerLinks {
        max-width: 100%;
    }

    .titleSection {
        padding-left: 25px;
    }

    .titleSection h2 {
        font-size: 84px;

    }

    .firstRow {
        display: flex;
        justify-content: space-between;
    }

    .secLeft {
        display: flex;
        max-width: 800px;
    }

    .secRight {
        font-size: 16px;
        /* padding: 15px; */
    }

    .secTop {
        font-size: 16px;
    }

    .secTopRev {
        text-align: center;
        font-size: 16px;
    }

    .secDown button {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

}

@media screen and (max-width: 1000px) {

    .titleSection h2 {
        font-size: 64px;

    }

    .secDown button {
        font-size: 16px;
        margin: 15px;
    }

}

@media screen and (max-width: 800px) {
    .firstRow {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    .titleSection {
        min-height: 400px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .titleVideo {
        max-width: 1200px;
        min-height: 400px;
    }

    .titleVideo video {
        height: 400px;
        width: 100%;
    }

    .secDown button {
        font-size: 16px;
        margin: 15px;
    }

    .secLeft {
        display: none;
    }

    .secRight {
        width: 100%;
    }

    .secTop {
        min-height: 50%;
    }

    .revIcon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 20px;
    }

    .secTopRev {
        text-align: center;
        font-size: 24px;
    }

    .secDown h2 {
        max-width: 40ch;
    }

    .razorImg {
        width: 60px;
        height: 60px;
    }

    .foterColumns li {
        font-size: 16px;
    }

    .NavContent h3 {
        font-size: 18px;
    }

    .inicio,
    .productos,
    .locations {
        font-size: 0px;
    }

    .reservarBtn {
        font-size: 16px;
        width: 150px;
    }



    .NavTabs {
        gap: 23px;
    }

    .busName,
    .cityName {
        font-size: 22px;
    }
}

@media screen and (max-width: 490px) {

    .titleSection h2 {
        font-size: 52px;
    }

    .social {
        display: none;
    }

    .foterColumns {
        gap: 40px;
    }

    .busName {
        width: 55%;
        font-size: 18px;
    }

    .cityName {
        width: 45%;
        font-size: 18px;
    }

    .ElGrullo {
        padding: 25px;
    }

}

@media screen and (max-width: 459px) {
    .footer {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .titleSection h2 {
        font-size: 46px;
    }

    .NavContent h3 {
        font-size: 16px;
    }

    .reservarBtn {
        font-size: 16px;
        width: 150px;
    }

    .NavTabs {
        gap: 15px;
    }
}