.NavBar {
    display: flex;
    background-color: #242429;
    color: #c5c5c5;
    justify-content: space-between;
    padding: 30px 22rem 30px 22rem;
    font-size: 18px;
    font-family: monospace;
}

.NavTabs {
    display: flex;
    gap: 35px;
    list-style: none;
    text-decoration: none;
}

.NavTabs li {
    cursor: pointer;
}