.NavBar {
    display: flex;
    background-color: #242429;
    color: #c5c5c5;
    justify-content: space-between;
    padding: 30px 20rem 30px 20rem;
    font-size: 18px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.NavTabs {
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
}

.NavTabs li {
    font-family: monospace;
    cursor: pointer;
}