:target {
    scroll-margin-top: 60px;
}

.NavBar {
    display: flex;
    background-color: #242429;
    color: #c5c5c5;
    padding: 20px 5rem 20px 2rem;
    font-size: 18px;
    font-family: monospace;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all ease-in-out 0.5s;
}

.NavContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.NavContent h3 {
    display: flex;
    align-items: center;
    color: white;
}

.NavTabs {
    display: flex;
    gap: 35px;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.NavTabs li {
    cursor: pointer;
}

.NavTabs li a {
    color: #c5c5c5;
    text-decoration: none;
    text-transform: uppercase;
}

.logoImg {
    object-fit: cover;
    height: 50px;
    width: 20px;
}

.NavBar.shrink {
    padding: 15px 5rem 15px 2rem;
}

.reservarBtn {
    background-color: #f8f7f7;
    color: rgb(65, 64, 64);
    font-size: 18px;
    padding: 9px;
    font-weight: 600;
}