* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: auto; */
}

.mainSection {
    height: 100%;
    background-color: #242429;
    padding: 0 20px 0 20px;
}

::selection {
    background-color: #eee2e2;
}

@media screen and (max-width: 400px) {
    .mainSection {
        padding: 0 15px 0 15px;
    }
}